<div class="card">
    <div class=" card-header bg-light text-center">
        <h4>Leave Classification</h4>
    </div>
    <div class=" card-body">
        <form>
            <div class="col-md-6 center">

                <div class="form-group row">
                    <label class="col-form-label col-md-4 text-md-right"> Name <i class="text-danger">*</i>  </label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder=" Name">

                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class=" card-footer">
        <div class="demo-inline-spacing mt-3" style="margin:0 400px">
            <button type="clear" class="btn btn-info"><span class="ion ion-ios-refresh"></span> Reset </button>
            <button type="" class="btn btn-success"><span class="fas fa-save"></span> Save </button>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body scrollmenu">
        <div class="col-md-6 center">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Leave Sub Catagory</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr >
          <td colspan="13" class="font-italic text-center">No item available</td>
        </tr> -->
                    <tr>

                        <td></td>
                        <td><button class="btn btn-primary">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>