<nav class="footer" style="background: rgb(89, 94, 109); color:#ddd">
    <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x py-1">
        <div class="pt-2">
            <a target="_blank" tabindex="-1" href="http://www.softwarearenaltd.com/" style="color:#dba502" class="footer-text font-weight-bolder">ERP</a> ©{{currentYear}}
        </div>
        <div>
            <a href="javascript:void(0)" class="footer-link text-white pt-2" tabindex="-1">saiful@gmail.com</a>
        </div>
    </div>
</nav>
