<div class="card" style="height: 480px;">
  <div class="card-header py-2">
    <h4 class="text-center mb-0">Receivable Member List  Report</h4>
  </div>
  <div class="card-body p-3">
    <!-- <div class="container p-0"> -->
      <form [formGroup]="rptMemberReceivableListForm" >
       <div class="card p-0">
          <div class="row">
            <label class="col-md-4"></label>
            <div class="col-md-5 row">
              <app-personal-info-select-list [memberId]="f['memberID'].value"    (onChange)="onSelectMemberInfo($event)"></app-personal-info-select-list>

              </div>
           <div class="col-md-2 row" style="margin: 0 auto;" >
              <button (click)="getAllMemberReceivableListReport()" class="btn btn-success float-right mx-1"> OK</button>
              <button  (click)="reset()" class="btn btn-primary float-right mx-1">Reset</button>
          </div>
          </div>
          </div>
          <div class="card" style="height: 300px; overflow: auto;">
               <table class="table  text-center   table-bordered" >
                 <thead>
                   <tr>
                     <th style="width:10%">SL</th>
                     <th style="width:40%">Period Name</th>
                     <th style="width:10%">Member Name</th>
                     <th style="width:10%">Member Code </th>
                     <th style="width:10%">Service Name</th>
                     <th style="width:10%">Amount</th>
                      <th style="width:10%"></th>
                   </tr>
                 </thead>
                 <tbody>
                  <tr *ngIf="rtpReceivableMembers.length==0">
                     <td colspan="7" class="text-center"><i>No Data found</i></td>
                   </tr>
                   <tr *ngFor="let rptlg of rtpReceivableMembers;let i=index">
                     <td  style="width:10%">{{i+1}}</td>
                     <td  style="width:40% ; text-align: left;">{{rptlg.periodName}}</td>
                     <td  style="width:10% ; text-align: right;">{{rptlg.memberName}}</td>
                     <td  style="width:10% ; text-align: right;">{{rptlg.memberCode}}</td>
                     <td  style="width:10% ; text-align: right;">{{rptlg.serviceName}}</td>
                     <td  style="width:10% ; text-align: right;">{{rptlg.amount}}</td>
                     <td  style="width:10%">
                      <!-- <ng-select formControlName="selctedItem" (change)="onSelect(rptlg)"  appendTo="body" placeholder="Select">
                        <ng-option [value]="1">Select</ng-option>
                        <ng-option [value]="2">Print</ng-option>
                        <ng-option  [value]="3">Delete</ng-option>
                      </ng-select>                     -->
                       </td>
                   </tr>
                 </tbody>
               </table>
            </div>
      </form>
    </div>
  <!-- </div>  -->
</div>

