<div class="card">
  <div class="card-header  text-center">
    <h4>Ledger</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div  class="col-md-7 center">
        <form [formGroup]="ledgerForm" >
         <div class="form-group row">
            <label for="accountGroup" class="form-group col-md-3 "><i class="text-danger" >*</i> Account Group </label>
            <div class="col-md-8">
              <app-account-group-select-list  [ngClass]="{'is-invalid':( f['lowerGroupId'].touched || f['lowerGroupId'].dirty || isSubmit) && f['lowerGroupId'].invalid}" [accountGroupID]="f['lowerGroupId'].value" (onChange)="onSelectAccountGroup($event)"></app-account-group-select-list>
              <div *ngIf="f['lowerGroupId'].invalid && ( f['lowerGroupId'].touched || f['lowerGroupId'].dirty || isSubmit)" class="text-danger">
                <i *ngIf="f['lowerGroupId'].errors.required" class="text-danger">Account group is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="accountName" class="form-group col-md-3 "><i class="text-danger" >*</i> Account Name/Code </label>
            <div class="col-md-8">
              <input formControlName="accountName" [ngClass]="{'is-invalid':( f['accountName'].touched || f['accountName'].dirty || isSubmit) && f['accountName'].invalid}"  type="text" class="form-control" id="accountName" placeholder="Account Name">
              <div *ngIf="f['accountName'].invalid && ( f['accountName'].touched || f['accountName'].dirty || isSubmit)" class="text-danger">
                <i *ngIf="f['accountName'].errors.required" class="text-danger">Account Name is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="aliasName" class="form-group col-md-3 ">Alias Name </label>
            <div class="col-md-8">
              <input formControlName="aliasName" type="text" id="aliasName" class="form-control" placeholder="Alias Name">
            </div>
          </div>

          <div class="form-group row">
            <label for="openingBalance" class="form-group col-md-3 ">Opening Balance </label>
            <div class="col-md-3 ">
              <input formControlName="openningBalance"  type="number"  id="openingBalance" class="form-control " placeholder="0.00">
            </div>
          </div>
          <div class="form-group row">
            <label for="openingBalance" class="form-group col-md-3 ">Currency Type  </label>
            <div class="col-md-3 ">
              <app-currency-type-select-list [currencyId]="f['currencyId'].value" (onChange)="f['currencyId'].setValue($event.idenNo)"></app-currency-type-select-list>
            </div>
          </div>
          <div class="form-group row">
            <label for="openingBalance" class="form-group col-md-3 ">Currency Rate </label>
            <div class="col-md-3 ">
              <input formControlName="currencyRate" type="number"  class="form-control" placeholder="0.00">
            </div>
          </div>
         <!--  <div class="row">
            <label  class="col-md-3 ">Currency Type </label>
            <div class="col-md-9 row">
              <div class="col-md-5">
                <app-currency-type-select-list [currencyId]="f['currencyId'].value" (onChange)="f['currencyId'].setValue($event.idenNo)"></app-currency-type-select-list>
                  </div>
              <div class="row col-md-7 ">
                <label class="col-md-5 ">Currency Rate</label>
                <div class="col-md-6">
                  <input formControlName="currencyRate" type="number"  class="form-control" placeholder="0.00">
                </div>
              </div>
              </div>
          </div> -->
          <!-- <div class="form-group row  mt-1">
            <label class="form-group col-md-3"> SubLedger<i class="text-danger">*</i> </label>
            <div class="col-md-9 ">
              <ng-select  [items]="subLeadegerList" formControlName="subLeadeger" (change)="subLedger($event)"
               placeholder="Select SubLedger "></ng-select>
          </div>
        </div> -->
          <div class="form-group row mt-1">
            <label for="additional" class=" form-group col-md-3  ">Additional</label>
            <div class="col-md-9 ">
                <div class="custom-control custom-checkbox custom-control-inline  ">
                  <input formControlName="isCostCenter" type="checkbox" class="custom-control-input row"
                    id="costCenter">
                  <label class="custom-control-label" for="costCenter">Cost Center</label>
                </div>

               <!--  <div class="custom-control custom-checkbox custom-control-inline  ">
                  <input formControlName="isIndependSubledger" type="checkbox" class="custom-control-input" id="isIndependSubledger">
                  <label class="custom-control-label" for="isIndependSubledger">Independent Sub Ledger</label>
                </div> -->
                <!-- <div class="custom-control custom-checkbox custom-control-inline ">
                  <input formControlName="isBillbyBill" type="checkbox" class="custom-control-input" id="bilByBill">
                  <label class="custom-control-label" for="bilByBill">Bill by Bill</label>
                </div> -->
                <!-- <div class="custom-control custom-checkbox custom-control-inline ">
                  <input formControlName="isInventory" type="checkbox" class="custom-control-input" id="isInventory">
                  <label class="custom-control-label" for="isInventory">Inventory</label>
                </div> -->
                <!-- <div class="custom-control custom-checkbox custom-control-inline ">
                  <input formControlName="isEmployee" type="checkbox" class="custom-control-input" id="IsEmployee">
                  <label class="custom-control-label" for="IsEmployee">IsEmployee</label>
                </div> -->
              <!-- <div class="form-group row col-md-5 ">
                  <app-head-group-name-multi-select-list
                  [headGroupID]="f['selectedHeadGroupID'].value"
                    (onChange)="onSelectHeadGroup($event)">
                  </app-head-group-name-multi-select-list>
              </div> -->
            </div>
          </div>
          <div class="form-group row">
            <label for="status" class="form-group col-md-3 ">Status</label>
            <div  class="col-md-8">
              <div class="custom-control custom-radio custom-control-inline ">
                <input formControlName="isActive" [value]="1" tabindex="-1" name="isActive" type="radio" class="custom-control-input" id="active" checked >
                <label class="custom-control-label" for="active">Active</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline ">
                <input formControlName="isActive" [value]="0" tabindex="-1" name="isActive" type="radio" class="custom-control-input" id="inactive">
                <label class="custom-control-label" for="inactive">Inactive</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div class=" row">
    <div class="row demo-inline-spacing pull-right pr-5" style="margin: 0 auto;">
      <button [ladda]="isSave" (click)="confirmSave(saveModal)" class="btn btn-success float-right mx-1">{{btnStatus}}</button>
      <button (click)="reset()" class="btn btn-primary float-right mx-1">Reset</button>
      <button (click)="modalServOpen(accChartListModal)" class="btn btn-info float-right mx-1">Show</button>
    </div>
  </div>
    <ng-template #saveModal tabindex="-1" >
      <app-conformation-messages [saveOrUpdate]="btnStatus" (onConfirmation)="saveLedger($event)"></app-conformation-messages>
    </ng-template>
    <ng-template #accChartListModal tabindex="-1" >
      <app-account-chart-basic-entry-show-data-temp [lowerGroupId]="f['lowerGroupId'].value"  (selectEvent)="getLedgerByID($event)"></app-account-chart-basic-entry-show-data-temp>
    </ng-template>


</div>
