<div class="card text-danger">
  <div class="card-header py-2">
    <h1 class="text-center mb-0">Restricted</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mx-auto my-auto text-center display-1 text-uppercase">
        <span class="fa fa-times-circle"></span> Access Denied!
      </div>
    </div>
    <div class="row mt-3">
      <div class="m-auto">
        <button (click)="goBack()" class="btn btn-success m-auto"><span class="fa fa-chevron-left"></span> Go Back</button>
      </div>
    </div>
  </div>
</div>
