//@import './demo';
//@import '../node_modules/ngx-toastr/toastr.css';
@import 'vendor/libs/ng-select/ng-select.scss';
@import 'vendor/libs/ngx-toastr/ngx-toastr.scss';
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

// Remove outline on desktops
@media(min-width: 720px) {
    ngb-carousel,
    .dropdown-item,
    ngb-datepicker,
    ngb-rating {
        outline: 0 !important;
    }
}

.dropdown-menu-right {
    right: auto !important;
}

// *******************************************************************************
// * Page transition
.router-transitions {
    opacity: 1;
    transition: opacity .2s;
    body.app-loading & {
        opacity: .75;
    }
}

// *******************************************************************************
// * Tooltip and popover animations
@include keyframes(ngTooltipAnimation) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ngb-tooltip-window {
    animation: ngTooltipAnimation .25s;
}

// *******************************************************************************
// * Modal animations
@include keyframes(ngModalBackdropAnimation) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .5;
    }
}

@include keyframes(ngMaterialModalBackdropAnimation) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: .2;
    }
}

@include keyframes(ngDefaultModalAnimation) {
    0% {
        opacity: 0;
        transform: translateY(150px) scale(.8);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@include keyframes(ngTopModalAnimation) {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@include keyframes(ngSlideModalAnimation) {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@include keyframes(ngRtlSlideModalAnimation) {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@include keyframes(ngFillInModalAnimation) {
    0% {
        opacity: 0;
        transform: scale(.5, .5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

ngb-modal-backdrop.modal-backdrop {
    opacity: .5;
    animation: ngModalBackdropAnimation .15s ease-out;
}

ngb-modal-window {
    &.modal .modal-dialog {
        animation: ngDefaultModalAnimation .15s ease-out;
    }
    &.modal-top .modal-dialog {
        animation: ngTopModalAnimation .15s ease-out;
    }
    &.modal-slide .modal-dialog {
        animation: ngSlideModalAnimation .15s ease-out;
    }
    &.modal-fill-in .modal-dialog {
        animation: ngFillInModalAnimation .15s ease-out;
    }
    [dir=rtl] &.modal-slide .modal-dialog {
        animation: ngRtlSlideModalAnimation .15s ease-out;
    }
}

.material-style ngb-modal-backdrop.modal-backdrop {
    opacity: .2;
    animation: ngMaterialModalBackdropAnimation .15s ease-out;
}

// Prevent horizontal scrollbar
[dir=rtl] .dz-hidden-input {
    right: 0 !important;
    left: auto !important;
}

// *******************************************************************************
// * Accordion
ngb-accordion .card-header>*>.btn.btn-link {
    width: 100%;
    padding: 0;
    text-align: inherit;
    white-space: normal;
    vertical-align: inherit;
    border: 0;
    font-size: .894rem;
}

.ngb-accordion-with-icon .card-header>*>.btn.btn-link {
    display: flex;
    justify-content: space-between;
}

// *******************************************************************************
// * Typeahead
ngb-typeahead-window .dropdown-item {
    cursor: pointer;
}

.hide-theme-settings #theme-settings {
    display: none;
}

.swal2-container {
    z-index: 9999 !important;
}

.center {
    margin: 0 auto;
}

.form-group {
    margin-bottom: 0.2rem !important;
}

.form-control,
.ng-select,
.ng-select-container {
    min-height: 35px;
    height: 35px;
}

table {
    max-height: 300px;
}

thead {
    background-color: rgb(7, 125, 204) !important;
    color: #fff !important;
}

tbody {
    background: rgb(255, 255, 255) !important;
}

.data-table {
    max-height: 500px;
    width: 100%;
    box-shadow: 0 0 2px 0px;
    margin: 5px;
}

.data-table thead th {
    position: sticky;
    top: 0;
}


/* Just common table stuff. Really. */

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

th {
    background: rgb(7, 125, 204);
}

.btn:disabled {
    cursor: not-allowed;
}

tbody tr {
    border-bottom: 2px solid rgb(211, 211, 211);
}

tbody tr:hover {
    background: rgb(202, 245, 244);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar:hover {
    width: 15px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #eee;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #bbb;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.ng2-tag-input {
    padding: 0 !important;
    border-bottom: 0 !important;
}

.layout-container {
    background: rgb(203, 232, 248);
}

.card {
    background: rgb(203, 232, 248);
}

.sidenav-link {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

.sidenav-horizontal {
    padding-left: 0!important;
    padding-right: 0!important;
}

.tc-80 {
    width: 50px !important;
}

.tc-100 {
    width: 100px !important;
}

.tc-150 {
    width: 150px !important;
}

.tc-200 {
    width: 200px !important;
}

td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

//hide arrow sign in number field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.btn:focus{
  background: rgb(58, 0, 99) !important;
  color: #fff;
}

.position-relative{
  position: relative;
}
.position-absolute{
  position: absolute;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}

