<h4 class="font-weight-bold py-3 mb-4">
    Dashboard
    <div class="text-muted text-tiny mt-1"><small class="font-weight-normal">Today is Tuesday, 8 February 2018</small></div>
  </h4>
  
  <!-- Counters -->
  <div class="row">
    <div class="col-sm-6 col-xl-3">
  
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-cart display-4 text-success"></div>
            <div class="ml-3">
              <div class="text-muted small">Monthly sales</div>
              <div class="text-large">2362</div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="col-sm-6 col-xl-3">
  
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-earth display-4 text-info"></div>
            <div class="ml-3">
              <div class="text-muted small">Monthly visits</div>
              <div class="text-large">687,123</div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="col-sm-6 col-xl-3">
  
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-gift display-4 text-danger"></div>
            <div class="ml-3">
              <div class="text-muted small">Products</div>
              <div class="text-large">524</div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="col-sm-6 col-xl-3">
  
      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="lnr lnr-users display-4 text-warning"></div>
            <div class="ml-3">
              <div class="text-muted small">Users</div>
              <div class="text-large">456</div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  <!-- / Counters -->


   <div class="row">  
  <div class="col-md-3">
  <!-- Tasks -->
          <div class="card mb-4">
            <h6 class="card-header with-elements">
              <div class="card-header-title">Tasks</div>
              <div class="card-header-elements ml-auto">
                <button type="button" class="btn btn-default btn-xs md-btn-flat">Show more</button>
              </div>
            </h6>
            <div [perfectScrollbar] style="height: 234px">
              <div class="card-body">
                <p class="text-muted small">Today</p>
                <div class="custom-controls-stacked">
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Buy products</span>
                    <span class="ui-todo-badge badge badge-outline-default font-weight-normal ml-2">58 mins left</span>
                  </label>
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Reply to emails</span>
                  </label>
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Write blog post</span>
                    <span class="ui-todo-badge badge badge-outline-default font-weight-normal ml-2">20 hours left</span>
                  </label>
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" checked>
                    <span class="custom-control-label">Wash my car</span>
                  </label>
                </div>
              </div>
              <hr class="m-0">
              <div class="card-body">
                <p class="text-muted small">Tomorrow</p>
                <div class="custom-controls-stacked">
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Buy antivirus</span>
                  </label>
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Jane's Happy Birthday</span>
                  </label>
                  <label class="ui-todo-item custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">Call mom</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Type your task">
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary">Add</button>
                </div>
              </div>
            </div>
          </div>
          <!-- / Tasks -->
  </div>
  <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
              <!-- Traffic sources -->
              <div class="card mb-4">
                  <h6 class="card-header with-elements">
                    <div class="card-header-title">Accounts Receivable</div>
                    <div class="card-header-elements ml-auto">
                      <button type="button" class="btn btn-default btn-xs md-btn-flat">More</button>
                    </div>
                  </h6>
                  <div class="table-responsive">
                    <table class="table card-table m-0">
                      <tbody >
                          <div [perfectScrollbar] style="height: 210px">
                        <tr>
                          <td class="border-top-0 text-nowrap align-middle">
                            <a href="http://www.google.com" class="text-dark">www.google.com</a>
                          </td>
                          <td class="w-100 border-top-0 align-middle">
                            <div class="progress" style="height: 4px;">
                              <div class="progress-bar" style="width: 29.77%;"></div>
                            </div>
                          </td>
                          <td class="border-top-0 text-nowrap align-middle">
                            11,963&nbsp;
                            <span class="text-muted small">29.77%</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap align-middle">
                            <a href="http://www.google.de" class="text-dark">www.google.de</a>
                          </td>
                          <td class="align-middle">
                            <div class="progress" style="height: 4px;">
                              <div class="progress-bar bg-success" style="width: 28.39%;"></div>
                            </div>
                          </td>
                          <td class="text-nowrap align-middle">
                            11,963&nbsp;
                            <span class="text-muted small">28.39%</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap align-middle">
                            <a href="http://www.twitter.com" class="text-dark">www.twitter.com</a>
                          </td>
                          <td class="align-middle">
                            <div class="progress" style="height: 4px;">
                              <div class="progress-bar bg-info" style="width: 23.65%;"></div>
                            </div>
                          </td>
                          <td class="text-nowrap align-middle">
                            9,965&nbsp;
                            <span class="text-muted small">23.65%</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap align-middle">
                            <a href="http://www.facebook.com" class="text-dark">www.facebook.com</a>
                          </td>
                          <td class="align-middle">
                            <div class="progress" style="height: 4px;">
                              <div class="progress-bar bg-warning" style="width: 10.02%;"></div>
                            </div>
                          </td>
                          <td class="text-nowrap align-middle">
                            4,223&nbsp;
                            <span class="text-muted small">10.02%</span>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-nowrap align-middle">
                            <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                          </td>
                          <td class="align-middle">
                            <div class="progress" style="height: 4px;">
                              <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                            </div>
                          </td>
                          <td class="text-nowrap align-middle">
                            3,437&nbsp;
                            <span class="text-muted small">8.15%</span>
                          </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap align-middle">
                              <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                            </td>
                            <td class="align-middle">
                              <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                              </div>
                            </td>
                            <td class="text-nowrap align-middle">
                              3,437&nbsp;
                              <span class="text-muted small">8.15%</span>
                            </td>
                          </tr>
                          <tr>
                              <td class="text-nowrap align-middle">
                                <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                              </td>
                              <td class="align-middle">
                                <div class="progress" style="height: 4px;">
                                  <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                </div>
                              </td>
                              <td class="text-nowrap align-middle">
                                3,437&nbsp;
                                <span class="text-muted small">8.15%</span>
                              </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap align-middle">
                                  <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                </td>
                                <td class="align-middle">
                                  <div class="progress" style="height: 4px;">
                                    <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                  </div>
                                </td>
                                <td class="text-nowrap align-middle">
                                  3,437&nbsp;
                                  <span class="text-muted small">8.15%</span>
                                </td>
                              </tr>
                              <tr>
                                  <td class="text-nowrap align-middle">
                                    <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                  </td>
                                  <td class="align-middle">
                                    <div class="progress" style="height: 4px;">
                                      <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                    </div>
                                  </td>
                                  <td class="text-nowrap align-middle">
                                    3,437&nbsp;
                                    <span class="text-muted small">8.15%</span>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap align-middle">
                                      <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                    </td>
                                    <td class="align-middle">
                                      <div class="progress" style="height: 4px;">
                                        <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                      </div>
                                    </td>
                                    <td class="text-nowrap align-middle">
                                      3,437&nbsp;
                                      <span class="text-muted small">8.15%</span>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td class="text-nowrap align-middle">
                                        <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                      </td>
                                      <td class="align-middle">
                                        <div class="progress" style="height: 4px;">
                                          <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                        </div>
                                      </td>
                                      <td class="text-nowrap align-middle">
                                        3,437&nbsp;
                                        <span class="text-muted small">8.15%</span>
                                      </td>
                                    </tr>
                                    <tr>
                                        <td class="text-nowrap align-middle">
                                          <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                        </td>
                                        <td class="align-middle">
                                          <div class="progress" style="height: 4px;">
                                            <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                          </div>
                                        </td>
                                        <td class="text-nowrap align-middle">
                                          3,437&nbsp;
                                          <span class="text-muted small">8.15%</span>
                                        </td>
                                      </tr>
                                      </div>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- / Traffic sources -->       
        </div>

        <div class="col-md-6">
            <!-- Traffic sources -->
            <div class="card mb-4">
                <h6 class="card-header with-elements">
                  <div class="card-header-title">Accounts Payable</div>
                  <div class="card-header-elements ml-auto">
                    <button type="button" class="btn btn-default btn-xs md-btn-flat">More</button>
                  </div>
                </h6>
                <div class="table-responsive">
                  <table class="table card-table m-0">
                    <tbody >
                        <div [perfectScrollbar] style="height: 210px">
                      <tr>
                        <td class="border-top-0 text-nowrap align-middle">
                          <a href="http://www.google.com" class="text-dark">www.google.com</a>
                        </td>
                        <td class="w-100 border-top-0 align-middle">
                          <div class="progress" style="height: 4px;">
                            <div class="progress-bar" style="width: 29.77%;"></div>
                          </div>
                        </td>
                        <td class="border-top-0 text-nowrap align-middle">
                          11,963&nbsp;
                          <span class="text-muted small">29.77%</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-nowrap align-middle">
                          <a href="http://www.google.de" class="text-dark">www.google.de</a>
                        </td>
                        <td class="align-middle">
                          <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-success" style="width: 28.39%;"></div>
                          </div>
                        </td>
                        <td class="text-nowrap align-middle">
                          11,963&nbsp;
                          <span class="text-muted small">28.39%</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-nowrap align-middle">
                          <a href="http://www.twitter.com" class="text-dark">www.twitter.com</a>
                        </td>
                        <td class="align-middle">
                          <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-info" style="width: 23.65%;"></div>
                          </div>
                        </td>
                        <td class="text-nowrap align-middle">
                          9,965&nbsp;
                          <span class="text-muted small">23.65%</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-nowrap align-middle">
                          <a href="http://www.facebook.com" class="text-dark">www.facebook.com</a>
                        </td>
                        <td class="align-middle">
                          <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-warning" style="width: 10.02%;"></div>
                          </div>
                        </td>
                        <td class="text-nowrap align-middle">
                          4,223&nbsp;
                          <span class="text-muted small">10.02%</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-nowrap align-middle">
                          <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                        </td>
                        <td class="align-middle">
                          <div class="progress" style="height: 4px;">
                            <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                          </div>
                        </td>
                        <td class="text-nowrap align-middle">
                          3,437&nbsp;
                          <span class="text-muted small">8.15%</span>
                        </td>
                      </tr>
                      <tr>
                          <td class="text-nowrap align-middle">
                            <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                          </td>
                          <td class="align-middle">
                            <div class="progress" style="height: 4px;">
                              <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                            </div>
                          </td>
                          <td class="text-nowrap align-middle">
                            3,437&nbsp;
                            <span class="text-muted small">8.15%</span>
                          </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap align-middle">
                              <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                            </td>
                            <td class="align-middle">
                              <div class="progress" style="height: 4px;">
                                <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                              </div>
                            </td>
                            <td class="text-nowrap align-middle">
                              3,437&nbsp;
                              <span class="text-muted small">8.15%</span>
                            </td>
                          </tr>
                          <tr>
                              <td class="text-nowrap align-middle">
                                <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                              </td>
                              <td class="align-middle">
                                <div class="progress" style="height: 4px;">
                                  <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                </div>
                              </td>
                              <td class="text-nowrap align-middle">
                                3,437&nbsp;
                                <span class="text-muted small">8.15%</span>
                              </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap align-middle">
                                  <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                </td>
                                <td class="align-middle">
                                  <div class="progress" style="height: 4px;">
                                    <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                  </div>
                                </td>
                                <td class="text-nowrap align-middle">
                                  3,437&nbsp;
                                  <span class="text-muted small">8.15%</span>
                                </td>
                              </tr>
                              <tr>
                                  <td class="text-nowrap align-middle">
                                    <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                  </td>
                                  <td class="align-middle">
                                    <div class="progress" style="height: 4px;">
                                      <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                    </div>
                                  </td>
                                  <td class="text-nowrap align-middle">
                                    3,437&nbsp;
                                    <span class="text-muted small">8.15%</span>
                                  </td>
                                </tr>
                                <tr>
                                    <td class="text-nowrap align-middle">
                                      <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                    </td>
                                    <td class="align-middle">
                                      <div class="progress" style="height: 4px;">
                                        <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                      </div>
                                    </td>
                                    <td class="text-nowrap align-middle">
                                      3,437&nbsp;
                                      <span class="text-muted small">8.15%</span>
                                    </td>
                                  </tr>
                                  <tr>
                                      <td class="text-nowrap align-middle">
                                        <a href="http://www.yahoo.com" class="text-dark">www.yahoo.com</a>
                                      </td>
                                      <td class="align-middle">
                                        <div class="progress" style="height: 4px;">
                                          <div class="progress-bar bg-danger" style="width: 8.15%;"></div>
                                        </div>
                                      </td>
                                      <td class="text-nowrap align-middle">
                                        3,437&nbsp;
                                        <span class="text-muted small">8.15%</span>
                                      </td>
                                    </tr>
                                    </div>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- / Traffic sources -->       
      </div>
      </div>
  </div>
</div>
      