<div class="card">
    <div class="card-header py-2">
        <h4 class="text-center mb-0">{{btnStatus}} User</h4>
    </div>
    <div class="card-body">
        <form [formGroup]="userForm">
            <div class="row">
                <div class="col-md-9 m-auto">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="branchName" class="col-form-label col-sm-4">Company </label>
                                <div class="col-sm-8">
                                    <app-company-select-list [companyId]="f['compId'].value" (onChange)="onSelectCompany($event)">
                                    </app-company-select-list>
                                </div>
                            </div>
                            <!-- <div class="form-group row my-2">
                                <label for="branchName" class="col-form-label col-sm-4">Branch</label>
                                <div class="col-sm-8">
                                    <ng-select formControlName="branchId" [items]="branches" bindLabel="name" bindValue="id" placeholder="Select Branch">
                                    </ng-select>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label for="shortName" class="col-form-label col-sm-4">Employee Code</label>
                                <div class="input-group col-sm-8">

                                    <app-member-select-list [moduleId]="moduleId" [memberCode]="f['empId'].value" (onChange)="onSelectEmp($event)">
                                    </app-member-select-list>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="shortName" class="col-form-label col-sm-4">User Role</label>
                                <div class="input-group col-sm-8">
                                    <ng-select formControlName="roleId" [items]="userRoles" bindLabel="roleName" bindValue="id" placeholder="Select Role"></ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">User Name <i class="text-danger">*</i></label>
                                <div class="col-sm-8">
                                    <input formControlName="userName" type="text" class="form-control" placeholder="User Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Password <i class="text-danger">*</i></label>
                                <div class="col-sm-8">
                                    <input formControlName="password" type="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="shortName" class="col-form-label col-sm-4">User Type <i class="text-danger">*</i></label>
                                <div class="input-group col-sm-8">
                                    <app-user-type-select-list [userTypeId]="f['userTypeId'].value" (onChange)="onSelectuserType($event)">
                                    </app-user-type-select-list>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Status</label>
                                <div class="col-sm-6 mt-2">
                                    <div class="custom-control custom-checkbox ml-2">
                                        <input formControlName="isActive" type="checkbox" class="custom-control-input row" id="status">
                                        <label class=" custom-control-label" for="status">IsActive</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-2">
    <div class="m-auto mt-3">
        <button (click)="reset()" type="clear" class="btn btn-info">Reset</button>
        <button (click)="onSubmit()" class="btn btn-success"> {{btnStatus}}</button>
    </div>
</div>


<div class="card mb-4">
  <div class="card-header py-2">
    <h4 class="text-center mb-0">User List</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 ml-auto mr-2">
        <div class="input-group">
          <input type="text" (keyup)="onSearch($event.target.value)" class="form-control" placeholder="Search by username,branch name, company name,user type">
          <div class="input-group-append">
            <button class="btn btn-sm btn-primary"><span class="fa fa-search"></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="data-table">
      <table class="table table-bordered mb-0">
        <thead>
          <tr>
            <th>#SN</th>
            <th>User_Name</th>
            <th *ngIf="isSuperAdmin">Password</th>
            <!-- <th>ClientName</th>
            <th>Company</th>
            <th>User_Type</th>
            <th>CreatedBy</th> -->
            <th>Created_Date</th>
            <!-- <th>Last_Modified</th>
            <th>Modified_By</th> -->
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredUsers.length==0 && !isLoading">
            <td colspan="12" class="font-italic text-center">No item available</td>
          </tr>
          <tr *ngIf="filteredUsers.length==0 && isLoading">
            <td colspan="12" class="font-italic text-center">
              <img src="../../../../../assets//img/loading.gif" width="30px" height="30px"/> Loading...
            </td>
          </tr>
          <tr *ngFor="let user of filteredUsers; let i=index;"  [ngClass]="{'active-row':user.isActive,'disabled-row':!user.isActive, 'font-weight-bold':user.userTypeId==1}">
            <td>{{i+1}}</td>
            <td>{{user.userName}}</td>
            <td *ngIf="isSuperAdmin">{{user.password}}</td>
            <!-- <td>{{user.clientName}}</td>
            <td>{{user.companyName}}</td>
            <td>{{user.userTypeName}}</td>
            <td>{{user.creatorName}}</td> -->
            <td>{{user.createdDate | date:'dd/MM/yyyy'}}</td>
            <!-- <td>{{user.modifiedDate | date:'dd/MM/yyyy'}}</td>
            <td>{{user.modifierName}}</td> -->
            <td>
              <span *ngIf="user.isActive" class="badge badge-success badge-pill">active</span>
              <span *ngIf="!user.isActive" class="badge badge-danger badge-pill">inactive</span>
            </td>
            <td (click)="edit(user)"><span
                  class="fa fa-edit"></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

