.authentication-wrapper.authentication-1 .authentication-inner{
  max-width: 400px;
}
.authentication-inner{
  box-shadow: 0px 0px 3px 0px;
}
.backBtn{
  border-radius: 50px 0px 0px 50px;
}
.nextBtn{
  border-radius: 0px 50px 50px 0px;
}
