/* .section-3 {
    padding-top: 10px;
    padding-bottom: 5px;
} */
.section-title {
    z-index: 1;
    width: 100%;
    top: -8px;
}
.hr-line {
    background: rgb(93, 209, 252);
    height: 1px;
    opacity: .5;
}
/* .col-md-6 {
    max-width: 53%;
} */