<div class="card-body">
  <div class="card">
    <h4 class="card-header text-center bg-light">
      Salary View
    </h4>
    <div class="card-body">
      <div class="col-md-6 center">
        <div class="form-group row">
          <label class="col-form-label col-sm-3 ">EmpCode
          </label>
          <div class="col-sm-9">
            <ng-select placeholder="EmpCode"></ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-3 ">Period Name
          </label>
          <div class="col-sm-9">
            <ng-select placeholder="Period Name"></ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-form-label col-sm-3 ">Department
          </label>
          <div class="col-sm-9">
            <ng-select placeholder="Department"></ng-select>
          </div>
        </div>
        <div class="row">
          <div class="demo-inline-spacing mt-3" style="margin:0 auto">
            <button type="clear" class="btn btn-info">
              <span class="ion ion-ios-refresh"></span> Referesh
            </button>
            <button class="btn btn-success"> Show
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>EmpCode</th>
              <th>EmpName</th>
              <th>Salary_Head</th>
              <th>Salary_Type</th>
              <th>Period_Name</th>
              <th>Amount</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="demo-inline-spacing">
                <button class="btn btn-danger btn-sm"><span class="fas fa-trash"></span></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
