<div class="card " style="height: 550px;background: rgb(195, 214, 250);">
  <div class="card-header">
      <h4 style="color: rgb(26, 128, 245)" class="text-center">
          Subledger
          <span (click)="cancel()" class="text-danger fas fa-window-close float-right"></span>
      </h4>
  </div>
  <div class="card-body">
      <div class="row demo ">
          <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-form-label col-md-6 ">Account Name</label>
                  <div class="col-md-6 ">
                      <span>{{accountName}}</span>
                  </div>
              </div>
              <form [formGroup]="transSubledgerForm">

                  <div class="card">
                      <div class="card-body p-0">
                          <div class="data-table m-0" style="min-height: 250px; background: #efe;">
                              <table class="table table-bordered text-center mb-0">
                                  <thead>
                                      <tr>
                                          <th style="width:  500px;">Subledger Name</th>
                                          <th style="width:  100px;">Quantity</th>
                                          <th style="width:  100px;">Amount</th>
                                          <th style="width: 100px;">Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let subledgerArray of _transSubledgerForm.controls;let i=index" [formGroup]="subledgerArray">
                                          <td style="width:  500px;">
                                              <app-transaction-subledger-select-list [subWidth]="subwidth" [idForTabIndex]="'ssubledger'+i" [transSubledgerID]="subledgerArray.value.subledgerId" [accountId]="accountId" (onChange)="onSelectSeubledgerName($event,i)"></app-transaction-subledger-select-list>
                                          </td>
                                          <td style="width:  100px;"><input formControlName="quantity" (keydown)="onQuantityTabKeyDown($event,i)" [id]="'quantity'+i"   class="form-control" placeholder="0.00" type="number"></td>
                                          <td style="width:  100px;"><input (keyup)="getTotalAmount()" [id]="'subamount'+i" (keydown)="onTabKeyDown($event,i)" formControlName="amount" class="form-control" placeholder="0.00" type="number"></td>
                                          <td style="width: 100px;">
                                              <button (click)="addRow()" *ngIf="_transSubledgerForm.controls.length==(i+1)" class="btn btn-sm btn-success "><span class="fa fa-plus"></span></button>
                                              <button (click)="removeRow(i)" class="btn btn-sm btn-danger" tabindex="-1"><span class="fa fa-times"></span></button>
                                          </td>
                                      </tr>
                                  </tbody>

                              </table>
                          </div>
                      </div>
                      <div class="card-footer py-1 px-0" style="background: rgb(181, 231, 181);">
                          <div class="row mx-3">
                              <div class="col-md-7 center">
                                  <div class="row form-group">
                                      <label for="totalAmount" class=" col-form-label col ">Total Amount</label>
                                      <div class="col">
                                          <input formControlName="totalAmount" tabindex="-1" class=" form-control" placeholder="0.00" disabled>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

              </form>
          </div>
      </div>
  </div>
  <div class="card-footer row">
      <div class="row demo-inline-spacing center" style="margin: 0 auto;">
          <button (keydown)="savetransSubledger($event)"  (click)="savetransSubledger($event)" [id]="'okBtn'"  class="btn btn-success">OK</button>
      </div>
  </div> 
</div>
