.modal.show {
    display: block;
}

.form-control-plaintext {
    padding: 1px;
}

::-webkit-scrollbar {
    width: 1px;
    height: 8px;
}

.form-label,
label {
    margin-bottom: 0;
}

.data-table {
    max-width: 100%;
    overflow-y: auto;
}

td {
    padding: 0;
    padding-top: 0 !important;
}

td .form-control {
    margin: 0;
    border: 0;
    padding: .25px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 0;
    border-right: 1px solid #ccc;
}

td .form-control:focus {
    background: rgb(214, 238, 250);
    border: 1px dotted rgb(77, 79, 82);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.last-tr {
    background: rgb(207, 244, 255) !important;
    color: rgb(72, 72, 72);
}

.last-tr td {
    //background: rgb(204, 239, 255);
    text-align: center;
    font-weight: bold;
    border-left: 1px solid #ccc !important;
}

.shadow {
    box-shadow: 0 0 2px 0px;
}

// .card {
//     // background: rgb(214, 238, 250);
// }
.custom-bg {
    background: rgb(204, 245, 224);
}

.data-table {
    min-height: 300px !important;
}

.table td {
    border: 0;
    padding: 0;
}

.border-danger {
    border: 2px solid #c00 !important;
}

.input-check {
    height: 15px;
    width: 15px;
}

label>span {
    padding-left: 3px;
    font-weight: 600;
    font-size: large;
}
