tbody{
    display: block;
     height:300px;
     overflow: scroll;
     background:#efe;
}
thead,tbody tr{
    display:table;
    width:100%;
    table-layout:fixed;
    /* even columns width , fix width of table too*/
}
thead{
    width:calc(100%-6px)/*scrollbar is average 1em/16px width, remove it from thead width */
}
::ng-deep .my-class .modal-dialog{
    max-width: 60%;
    width: 60%;
}