table th,td{
    vertical-align: middle;
  }
  td{
    padding: 0;
    padding-top: 0 !important;
}
td .form-control{
    margin: 0;
    border: 0;
    padding: 1px;
    text-align: center;
    background: #eee;
    border-radius: 0;
    border: 1px solid #fff;
}
td .form-control:focus{
    background: #ddffdd;
    border: 1px dotted #555;
}