
<div class="card">
  <div class="card-header text-center p-1"><h4>Change Password</h4></div>
  <div class="card-body">
        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col-md-6 center">
              <div class="form col-md-10">
          <div class="form-group row">
            <label for="userName" class="col-md-5 text-right form-label-lg">User Name<span class="text-danger"> *</span></label>
            <div class="col-md-7">
              <input
              formControlName="userName"
              [ngClass]="{'is-invalid': (f['userName'].touched || f['userName'].dirty) && f['userName'].invalid}"
              type="text" class="form-control" placeholder="Write Login ID/Name ">
              <div *ngIf="(f['userName'].touched || f['userName'].dirty) && f['userName'].invalid" class="text-danger">
                <i *ngIf="f['userName'].errors.required">Login ID/Name is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="oldPassword" class="col-md-5 text-right form-label-lg">Old Password <span class="text-danger"> *</span></label>
            <div class="col-md-7">
              <input
              formControlName="oldPassword"
              [ngClass]="{'is-invalid': (f['oldPassword'].touched || f['oldPassword'].dirty) && f['oldPassword'].invalid}"
              type="password" class="form-control" placeholder="Write Old Password  ">
              <div *ngIf="(f['oldPassword'].touched || f['oldPassword'].dirty) && f['oldPassword'].invalid" class="text-danger">
                <i *ngIf="f['oldPassword'].errors.required">Old Password  is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="newPassword" class="col-md-5 text-right form-label-lg">New Password<span class="text-danger"> *</span></label>
            <div class="col-md-7">
              <input
              formControlName="newPassword"
              [ngClass]="{'is-invalid': (f['newPassword'].touched || f['newPassword'].dirty) && f['newPassword'].invalid}"
              type="password"
              class="form-control"
              placeholder="Write New Password ">
              <div *ngIf="(f['newPassword'].touched || f['newPassword'].dirty) && f['newPassword'].invalid" class="text-danger">
                <i *ngIf="f['newPassword'].errors.required">New Password is required</i>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="confirmPassword" class="col-md-5 text-right form-label-lg">Confirm New Password<span class="text-danger"> *</span></label>
            <div class="col-md-7">
              <input
              formControlName="confirmPassword"
              [ngClass]="{'is-invalid': (f['confirmPassword'].touched || f['confirmPassword'].dirty) && f['confirmPassword'].invalid}"
              type="password" class="form-control" placeholder="Write New Password again">
              <div *ngIf="(f['confirmPassword'].touched || f['confirmPassword'].dirty) && f['confirmPassword'].invalid" class="text-danger">
                <i *ngIf="f['confirmPassword'].errors.required">Confirm Password is required <br></i>
                <i *ngIf="!f['confirmPassword'].errors.matched">Confirm Password ,New Password doesn't match</i>
              </div>
            </div>
          </div>
            <div class="row demo-inline-spacing pull-right mt-2" style="margin: 0 auto;">
              <button (click)="reset()" class="btn btn-primary mx-2" type="button"><span class="ion ion-ios-refresh"></span> Reset</button>
              <button (click)="saveData()" class="btn btn-success mx-2" type="button">{{btnStatus}}</button>
            </div>
          
        </div>
        </div>
        </div>
        </form>
  </div>
</div>
